version: '3.8'

services:
  frontend:
    image: frontend
    container_name: frontend
    build: ./frontend
    ports: 
      - "3001:3000"
  
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db

  auth-service:
    image: auth-service
    container_name: auth-service
    build:
      context: .
      dockerfile: services/auth-service/Dockerfile
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/
    depends_on:
      - mongodb

  booking-service:
    image: booking-service
    container_name: booking-service
    build:
      context: .
      dockerfile: services/booking-service/Dockerfile
    ports:
      - "8081:8081"
    environment:
      MONGO_URI: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/
    depends_on:
      - mongodb

  event-service:
    image: event-service
    container_name: event-service
    build:
      context: .
      dockerfile: services/event-service/Dockerfile
    ports:
      - "8082:8082"
    environment:
      MONGO_URI: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/
    depends_on:
      - mongodb
  
  user-service:
    image: user-service
    container_name: user-service
    build:
      context: .
      dockerfile: services/user-service/Dockerfile
    ports:
      - "8083:8083"
    environment:
      MONGO_URI: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/
    depends_on:
      - mongodb

volumes:
  mongo-data: